.jumbotron-hero {
    /* Choisis la hauteur ici */
    height: 500px;
  
    /* Tu lui donnes une image de background */
    background-image: url("https://images.pexels.com/photos/1533729/pexels-photo-1533729.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  
    /* Centre l'image et la met bien sur tous les écrans */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }